<html ng-app="escolaApp" lang="br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Avaliacão Anual</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="js/angular-1.7.5/angular.min.js" type="text/javascript"></script>
        <script>

            var escolaApp = angular.module("escolaApp",[]);
            var baseURL = "http://mobile-aceite.tcu.gov.br:80/nossaEscolaRS/";

            var avaliacaoApi = function ($http) {
                var _getAvaliacao = function (codEscola, tipoAvaliacao){
                    return $http.get(baseURL + "/rest/escolas/" + codEscola + "/avaliacoes/tipo/" + tipoAvaliacao);
                };

                return {
                    getAvaliacao : _getAvaliacao
                };

            }

            escolaApp.factory("avaliacaoApi",avaliacaoApi);

            var listarAvaliacoesCtlr = function($scope, avaliacaoApi){

                $scope.avaliacoes = {};

                $scope.listarAvaliacoes = function (codEscola, tipoAvaliacao) {
                    avaliacaoApi.getAvaliacao(codEscola, tipoAvaliacao).then(function(response){
                        $scope.avaliacoes = response.data;
                    })
                    .catch(function (error){
                        console.error(error);
                    });
                }
            }

            escolaApp.controller("listarAvaliacoesCtlr", listarAvaliacoesCtlr);

        </script>
    </head>

    <body>

        <div class="container">
            <header>
                <nav clas ="navbar navbar-dark bg-primary">
                    <a class="navbar-brand" href="#">Avaliações de Escola Por Tipo</a>
                </nav>
            </header>

            <main>
                <form ng-controller="listarAvaliacoesCtlr">
                    <div class="box">
                        <div class="form-group">
                            <label for="codEscola">Código:</label>
                            <input class="form-control" type="text" name="codEscola"
                              ng-model="codEscola" />

                            <label for="tipoAvaliacao">Tipo de Avaliação:</label>
                            <input class="form-control" type="text" name="tipoAvaliacao" ng-model="tipoAvaliacao">
                        </div>

                        <button type="button" class="btn btn-primary btn-lg btn-block"
                          ng-click="listarAvaliacoes(codEscola, tipoAvaliacao)">
                            Pesquisar
                        </button>
                    </div>

                    <div class="box">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Valor</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="avaliacao in avaliacoes">
                                        <td scope="row">{{avaliacao.tipoAvaliacao.nome}}</td>
                                        <td scope="row">{{avaliacao.valor}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
            </main>
            <footer>
                Dados - TGU
            </footer>
        </div>
    </body>
</html>
